
.muj-box1 .label {
    -fx-font-size: 16;
    -fx-text-fill: white;
}
.muj-box1 {
    -fx-spacing: 5;
    -fx-background-color: rgba(0, 0, 0, 0.6);
}
.muj-box2 {
    -fx-background-color: rgba(245, 245, 245, 0.6);
    -fx-alignment: center;
    -fx-padding: 5;
}
.muj-box3 .label {
    -fx-font-size: 16;
    -fx-spacing: 5;
    -fx-text-fill: white;
    -fx-alignment: center;
}
.muj-box3 {
    -fx-background-color: rgba(0, 0, 0, 0.6);
    -fx-min-width: 220;
    -fx-min-height: 20;
}
.menu-pozadi .label {
    -fx-text-fill: white;
}
.menu-pozadi {
    -fx-background-color: rgba(0, 0, 0, 0.6);
}

.prave-pozadi {
    -fx-background-color: rgba(245, 245, 245, 0.6);
}
.nadpisy {
    -fx-font-size: 20;
    -fx-font-weight: bold;
 }
.terminal {
    -fx-font-size: 16;
}
.label {
    -fx-text-alignment: center;
}
.moznosti {
    -fx-font-size: 18;
    -fx-alignment: center;
}
.pismo-listy .label {
    -fx-text-fill: white;
}
.Zatmaveni:hover {
    -fx-background-color: rgba(245, 245, 245, 0.6);
    -fx-min-width: 220;
    -fx-min-height: 60;
}
.Zatmaveni2:hover {
    -fx-background-color: rgba(245, 245, 245, 0.6);
    -fx-min-width: 220;
    -fx-min-height: 20;
}
#textInput{
    -fx-background-color: rgba(65, 65, 65, 0.8);
}
#textOutput{
    -fx-background-color: rgba(245, 245, 245, 0.6);
}